VITE_SUPABASE_URL=https://cicneqfyxwomonvbcebx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpY25lcWZ5eHdvbW9udmJjZWJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQxMDU1MDMsImV4cCI6MjA2OTY4MTUwM30.Z-vy5iz79PtMfNe51bqUmCzxd-P_qWRtSFRoeCsgPeA 